<!doctype html>
<title>{% block title %}{% endblock %}Holiday Helper</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kanit&family=Montserrat&family=Open+Sans:wght@500&display=swap"
    rel="stylesheet">
<style>

select {

  padding: 8px 15px;
  border: none;
  border-radius: 4px;
  background-color: #f1f1f1;
}
 #submitButton {
    
  background-color: #04AA6D;
  border: none;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer; 

  
}
#preferences {
    width: 12.5%
}


form {
    text-align: center;
}
.container{
    justify-content: center;
    display: flex;
}

.header img {
 float: left;
 margin-top: 20px;  
  width: 75px;
  height: 75px;

}
.header h1 {
    display: inline-block;
    position: relative;
    top: 18px;
    left: 20px;
}





</style>

<body>
    <div class="full-body-container">
        <div class="top-text">
            <div class = "container">
            <div class = "header">
                <img src = "umbrella.png" width = 80px height = 80px/>
                <h1>HOLIDAY HELPER</h1>
                <!-- <div class="google-colors"> -->
                    <!-- <h1 id="google-c">H</h1>
                    <h1 id="google-s">O</h1>
                    <h1 id="google-4">L</h1>
                    <h1 id="google-3">I</h1>
                    <h1 id="google-0-1">D</h1>
                    <h1 id="google-0-2">A</h1>
                    <h1 id="google-c">Y</h1>
                    <h1 id="google-s">H</h1>
                    <h1 id="google-4">E</h1>
                    <h1 id="google-3">L</h1>
                    <h1 id="google-0-1">P</h1>
                    <h1 id="google-0-2">E</h1>
                    <h1 id="google-c">R</h1> -->
                </div>
            </div>
            </div>



            <form id="inputValues">
                <div class="inputs">
                    <label for="locality">Location:</label>
                    <select name="locality" id="locality">
                        <option 
                        value = "New York City">New York City</option>
                        <option 
                        value = "Los Angeles">Los Angeles</option>
                        <option 
                        value = "Houston">Houston</option>
                        <option 
                        value = "Chicago">Chicago</option>
                    </select>
                    <p>Please enter your preferences:</p>
                    <input id = "preferences" type="number" step="0.01" min="0" max="5" name="service" placeholder = "Minimum Service">
                    <input id = "preferences" type="number" step="0.01" min="0" max="5" name="service" placeholder = "Minimum Cleanliness">
                    <input id = "preferences" type="number" step="0.01" min="0" max="5" name="service" placeholder = "Minimum Value">
                    <p>Description: <input type = "text"></p>
                </div>
            </form>
            
            <div class="submitButton">
                <p class="pt-3"><button id="submitButton" form=inputValues type="submit">Submit</button></p>
            </div>
            
            <div id="results">
                {% if valid_form %}
                <p> Locality: {{ locality }} <br>
                    Service: {{ service }} <br>
                    Cleanliness: {{ cleanliness }} <br>
                    Value: {{ value }} <br>
                    Text: {{ text }} </p>
                {% for hotel_info in output %}
                <p>Hotel Name: {{ hotel_info['name'] }} <br>
                    Service: {{ hotel_info['service'] }} <br>
                    Cleanliness: {{ hotel_info['cleanliness'] }} <br>
                    Value: {{ hotel_info['value'] }} <br>
                    Locality: {{ hotel_info['locality'] }} <br>
                    Review: {{ hotel_info['review_text'] }} </p>
                {% endfor %}
                {% else %}
                <p>Please fill out all fields.</p>
                {% endif %}
            </div>
        </div>
    </div>
</body>
    </div>
</body>