<!doctype html>
<title>{% block title %}{% endblock %}Holiday Helper</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kanit&family=Montserrat&family=Open+Sans:wght@500&display=swap"
    rel="stylesheet">

<body>
    <div class="full-body-container">
        <div class="top-text">
            <div class="google-colors">
                <h1 id="google-c">H</h1>
                <h1 id="google-s">O</h1>
                <h1 id="google-4">L</h1>
                <h1 id="google-3">I</h1>
                <h1 id="google-0-1">D</h1>
                <h1 id="google-0-2">A</h1>
                <h1 id="google-c">Y</h1>
                <h1 id="google-s">H</h1>
                <h1 id="google-4">E</h1>
                <h1 id="google-3">L</h1>
                <h1 id="google-0-1">P</h1>
                <h1 id="google-0-2">E</h1>
                <h1 id="google-c">R</h1>
            </div>
            <form id="inputValues">
                <div class="inputs">
                    <input type="number" input placeholder="Minimum Service" name="service">
                    <input type="number" input placeholder="Minimum Cleanliness" name="clean">
                    <input type="number" input placeholder="Minimum Value" name="value">
                </div>
            </form>
            <div class="submitButton">
                <p class="pt-3"><button id="submitButton" form=inputValues type="submit">Submit</button></p>
            </div>
            <div id="results">
                {% if valid_form %}
                <p>Service: {{ service }} <br>
                    Cleanliness: {{ cleanliness }} <br>
                    Value: {{ value }} </p>
                {% for hotel_info in output %}
                <p>Hotel Name: {{ hotel_info['name'] }} <br>
                    Service: {{ hotel_info['service'] }} <br>
                    Cleanliness: {{ hotel_info['cleanliness'] }} <br>
                    Value: {{ hotel_info['value'] }} <br>
                    Locality: {{ hotel_info['locality'] }} <br>
                    Review: {{ hotel_info['review_text'] }} </p>
                {% endfor %}
                {% else %}
                <p>Please fill out all fields.</p>
                {% endif %}
            </div>
        </div>
    </div>
</body>